$font-stack: Helvetica, sans-serif;
$primary-color: #333;

.appBody{
  display: flex !important;
   justify-content: center!important;
  align-items: center!important;
   width: 100%!important;
    height: 100vh!important;
}

.inputrWapperStyle{
margin:1em!important;
   width: 100%!important;
}

.buttonGridStyle{
   display: flex;
   justify-content: flex-end;
   align-items: center;
   width: 100%
 }